<a href="https://colab.research.google.com/github/KHB2937/dataset/blob/main/food_cinema.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 음식점

In [2]:
from google.colab import drive

In [3]:
drive.mount('/content/drive')

Mounted at /content/drive

In [31]:
import pandas as pd

# CSV 파일 경로
file_path = '/content/drive/MyDrive/Colab Notebooks/fulldata_07_24_04_P_일반음식점.csv'

In [ ]:
# CSV 파일 읽기
data = pd.read_csv(file_path, encoding='cp949', low_memory=False)

# 데이터 확인
data

In [33]:
data = data[data['영업상태명'] != '폐업']

In [ ]:
data

In [34]:
# 삭제할 열 목록
columns_to_drop = ['번호', '개방서비스아이디', '개방자치단체코드', '관리번호', '인허가취소일자',
                   '공장생산직직원수', '건물소유구분명', '보증액', '월세액', '전통업소지정번호',
                   '홈페이지', 'Unnamed: 47', '폐업일자', '휴업시작일자', '휴업종료일자', '재개업일자', '영업장주변구분명',
                   '개방서비스명', '인허가일자', '영업상태구분코드', '상세영업상태코드', '상세영업상태명',
                   '데이터갱신일자', '위생업태명', '데이터갱신구분', '도로명우편번호', '도로명전체주소',
                   '여성종사자수', '등급구분명', '급수시설구분명', '총직원수','본사직원수', '공장사무직직원수',
                   '공장판매직직원수', '다중이용업소여부', '시설총규모', '전통업소주된음식', '남성종사자수', '소재지면적', '소재지우편번호', '최종수정시점']
data = data.drop(columns=columns_to_drop)
data

,영업상태명,소재지전화,소재지전체주소,사업장명,업태구분명,좌표정보(x),좌표정보(y)
1384182,영업/정상,NaN,경기도 성남시 수정구 신흥동 2562-2 1층,해피딜리버리(Happy delivery),한식,213117.592076,437825.856237679
1384183,영업/정상,NaN,경기도 안성시 공도읍 만정리 815-1 107호,79대포 안성공도점,호프/통닭,215021.103199,388727.667964023
1384184,영업/정상,NaN,경기도 안성시 대덕면 내리 691-6 2층 일부,맛있어2(Masisso2),한식,219857.937502,388861.268105772
1384185,영업/정상,NaN,서울특별시 영등포구 도림동 76-22,푸드 딜리버리 영등포점,한식,191722.709234,445276.999732324
1384186,영업/정상,NaN,경상남도 양산시 물금읍 물금리 878-6,수벙샌드위치,기타,380741.211631,202644.423181367
...,...,...,...,...,...,...,...
2079992,영업/정상,0062374 0679,광주광역시 서구 용두동 306번지 1,원아가든,한식,183338.073439,178369.322568135
2079993,영업/정상,NaN,광주광역시 남구 양림동 374 2층,뚱스넥,한식,192085.702260,182111.703093129
2079994,영업/정상,062 369 1582,광주광역시 남구 월산동 1048-182번지 (1층),갈비명가아라네,한식,190363.418899,181905.028328142
2079995,영업/정상,NaN,광주광역시 서구 화정동 332-9번지 (1층),승진이네,한식,188322.201767,183130.570775951
2079996,영업/정상,NaN,광주광역시 서구 화정동 70-61 (1층),명가,한식,188873.020499,184152.828430449

In [ ]:
data

In [ ]:
# 데이터프레임 인덱스 재배열
data = data.reset_index(drop=True)
data

In [36]:
# 수정된 데이터프레임을 CSV 파일로 저장
output_file_path = './전국음식점(수정본).csv'
data.to_csv(output_file_path, index=False)

print("CSV 파일이 저장되었습니다.")

CSV 파일이 저장되었습니다.

## 영화관

In [ ]:
# CSV 파일 경로
file_path = '/content/drive/MyDrive/Colab Notebooks/fulldata_03_13_02_P_영화상영관.csv'
# CSV 파일 읽기
cinema_data = pd.read_csv(file_path, encoding='cp949', low_memory=False)

# 데이터 확인
cinema_data

In [25]:
cinema_data = cinema_data[cinema_data['영업상태명'] != '폐업']
cinema_data = cinema_data[cinema_data['영업상태명'] != '휴업']

In [ ]:
cinema_data

In [27]:
# 삭제할 열 목록
columns_to_drop = ['번호', '개방서비스아이디', '개방자치단체코드', '관리번호', '인허가일자', '인허가취소일자',
                   '영업상태구분코드', '상세영업상태코드', '상세영업상태명', '폐업일자', '소재지면적',
                   '소재지우편번호', '도로명전체주소', '도로명우편번호', '최종수정시점', '데이터갱신구분', '데이터갱신일자',
                   '업태구분명', '문화사업자구분명', '편의시설여부', '소방시설여부', '총게임기수', '기존게임업외업종명', '제공게임물명',
                   '공연장형태구분명', '품목명', '최초등록시점', '지역구분명', 'Unnamed: 59', '주변환경명', '제작취급품목내용',
                   '시설면적', '지상층수', '지하층수', '건물용도명', '통로너비', '조명시설조도', '노래방실수',
                   '휴업시작일자', '휴업종료일자', '재개업일자', '문화체육업종명', '총층수', '청소년실수', '비상계단여부', '비상구여부',
                   '자동환기여부', '청소년실여부', '특수조명여부', '방음시설여부', '비디오재생기명', '조명시설유무', '음향시설여부']
cinema_data = cinema_data.drop(columns=columns_to_drop)
cinema_data

,개방서비스명,영업상태명,소재지전화,소재지전체주소,사업장명,좌표정보(x),좌표정보(y),청소년실수,비상계단여부,비상구여부,자동환기여부,청소년실여부,특수조명여부,방음시설여부,비디오재생기명,조명시설유무,음향시설여부
1231,영화상영관,영업/정상,062-369-3572,광주광역시 서구 광천동 49-1 유스퀘어(광천터미널),CGV 광주터미널 1관,189004.968213,184579.553645,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1232,영화상영관,영업/정상,062-369-3572,광주광역시 서구 광천동 49-1 유스퀘어(광천터미널),CGV 광주터미널 2관,189004.968213,184579.553645,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1233,영화상영관,영업/정상,062-369-3572,광주광역시 서구 광천동 49-1 유스퀘어(광천터미널),CGV 광주터미널 4관,189004.968213,184579.553645,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1234,영화상영관,영업/정상,062-369-3572,광주광역시 서구 광천동 49-1 유스퀘어(광천터미널),CGV 광주터미널 9관,189004.968213,184579.553645,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1235,영화상영관,영업/정상,062-369-3572,광주광역시 서구 광천동 49-1 유스퀘어(광천터미널),CGV 광주터미널 3관(IMAX),189004.968213,184579.553645,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4956,영화상영관,영업/정상,NaN,서울특별시 강남구 삼성동 159-0번지,메가박스씨네플렉스(주),205130.591679,445590.096838,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4957,영화상영관,영업/정상,NaN,서울특별시 강남구 삼성동 159-0번지,메가박스씨네플렉스(주),205130.591679,445590.096838,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4958,영화상영관,영업/정상,NaN,서울특별시 강남구 삼성동 159-0번지,메가박스씨네플렉스(주),205130.591679,445590.096838,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4959,영화상영관,영업/정상,NaN,서울특별시 강남구 삼성동 159-0번지,메가박스씨네플렉스(주),205130.591679,445590.096838,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4960,영화상영관,영업/정상,NaN,서울특별시 강남구 삼성동 159-0번지,메가박스씨네플렉스(주),205130.591679,445590.096838,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
# 삭제할 열 목록
columns_to_drop = ['청소년실수', '비상계단여부', '비상구여부', '자동환기여부', '청소년실여부', '특수조명여부', '방음시설여부', '비디오재생기명', '조명시설유무', '음향시설여부']
cinema_data = cinema_data.drop(columns=columns_to_drop)
cinema_data

,개방서비스명,영업상태명,소재지전화,소재지전체주소,사업장명,좌표정보(x),좌표정보(y)
1231,영화상영관,영업/정상,062-369-3572,광주광역시 서구 광천동 49-1 유스퀘어(광천터미널),CGV 광주터미널 1관,189004.968213,184579.553645
1232,영화상영관,영업/정상,062-369-3572,광주광역시 서구 광천동 49-1 유스퀘어(광천터미널),CGV 광주터미널 2관,189004.968213,184579.553645
1233,영화상영관,영업/정상,062-369-3572,광주광역시 서구 광천동 49-1 유스퀘어(광천터미널),CGV 광주터미널 4관,189004.968213,184579.553645
1234,영화상영관,영업/정상,062-369-3572,광주광역시 서구 광천동 49-1 유스퀘어(광천터미널),CGV 광주터미널 9관,189004.968213,184579.553645
1235,영화상영관,영업/정상,062-369-3572,광주광역시 서구 광천동 49-1 유스퀘어(광천터미널),CGV 광주터미널 3관(IMAX),189004.968213,184579.553645
...,...,...,...,...,...,...,...
4956,영화상영관,영업/정상,NaN,서울특별시 강남구 삼성동 159-0번지,메가박스씨네플렉스(주),205130.591679,445590.096838
4957,영화상영관,영업/정상,NaN,서울특별시 강남구 삼성동 159-0번지,메가박스씨네플렉스(주),205130.591679,445590.096838
4958,영화상영관,영업/정상,NaN,서울특별시 강남구 삼성동 159-0번지,메가박스씨네플렉스(주),205130.591679,445590.096838
4959,영화상영관,영업/정상,NaN,서울특별시 강남구 삼성동 159-0번지,메가박스씨네플렉스(주),205130.591679,445590.096838
4960,영화상영관,영업/정상,NaN,서울특별시 강남구 삼성동 159-0번지,메가박스씨네플렉스(주),205130.591679,445590.096838

In [29]:
# 데이터프레임 인덱스 재배열
cinema_data = cinema_data.reset_index(drop=True)
cinema_data

,개방서비스명,영업상태명,소재지전화,소재지전체주소,사업장명,좌표정보(x),좌표정보(y)
0,영화상영관,영업/정상,062-369-3572,광주광역시 서구 광천동 49-1 유스퀘어(광천터미널),CGV 광주터미널 1관,189004.968213,184579.553645
1,영화상영관,영업/정상,062-369-3572,광주광역시 서구 광천동 49-1 유스퀘어(광천터미널),CGV 광주터미널 2관,189004.968213,184579.553645
2,영화상영관,영업/정상,062-369-3572,광주광역시 서구 광천동 49-1 유스퀘어(광천터미널),CGV 광주터미널 4관,189004.968213,184579.553645
3,영화상영관,영업/정상,062-369-3572,광주광역시 서구 광천동 49-1 유스퀘어(광천터미널),CGV 광주터미널 9관,189004.968213,184579.553645
4,영화상영관,영업/정상,062-369-3572,광주광역시 서구 광천동 49-1 유스퀘어(광천터미널),CGV 광주터미널 3관(IMAX),189004.968213,184579.553645
...,...,...,...,...,...,...,...
3717,영화상영관,영업/정상,NaN,서울특별시 강남구 삼성동 159-0번지,메가박스씨네플렉스(주),205130.591679,445590.096838
3718,영화상영관,영업/정상,NaN,서울특별시 강남구 삼성동 159-0번지,메가박스씨네플렉스(주),205130.591679,445590.096838
3719,영화상영관,영업/정상,NaN,서울특별시 강남구 삼성동 159-0번지,메가박스씨네플렉스(주),205130.591679,445590.096838
3720,영화상영관,영업/정상,NaN,서울특별시 강남구 삼성동 159-0번지,메가박스씨네플렉스(주),205130.591679,445590.096838
3721,영화상영관,영업/정상,NaN,서울특별시 강남구 삼성동 159-0번지,메가박스씨네플렉스(주),205130.591679,445590.096838

In [30]:
# 수정된 데이터프레임을 CSV 파일로 저장
output_file_path = './전국영화관(수정본).csv'
cinema_data.to_csv(output_file_path, index=False)

print("CSV 파일이 저장되었습니다.")

CSV 파일이 저장되었습니다.