In [1]:
import pandas as pd
df= pd.read_csv('./서울(강남_용산).csv', encoding='utf-8', low_memory=False)
df

,소재지전체주소,사업장명,업태구분명,latitude,longitude,review,target,데이트,맛,서비스,청결
0,서울 강남구 개포로28길 4,밀란국수 개포본점,한식,37.478594,127.049061,"['개포동', '현', '지인', '가득한', '집', '여름철', '콩국수', '...",1,0,1,1,0
1,서울 강남구 논현로18길 15 1층 101호,심야오뎅 개포점,일식,37.477993,127.046224,"['맛있다', '오뎅', '간단하게', '먹기', '좋은', '맛있다', '좋아요'...",1,0,1,1,0
2,서울 강남구 논현로10길 13,원조닭한마리,한식,37.474479,127.049601,"['리뷰', '만', '참고', '꼬릿', '게', '정말', '닭', '마리', ...",0,0,1,1,0
3,서울 강남구 선릉로16길 6 1층,리애,일식,37.483824,127.060107,"['와사비', '소금', '트러플', '오', '일', '돈가스', '소스', '어...",1,0,1,1,0
4,서울 강남구 개포로24길 29 하임빌딩 1층,라피노,양식,37.477328,127.049619,"['시금치', '파스타', '맛있다', '다른', '음식', '좋았고요', '실내'...",0,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...
9586,서울 용산구 후암로35길 37,후암맥주,기타,37.549777,126.976117,"['후', '암', '종점', '상호', '잘못', '후암동', '종점', '버스정...",1,0,1,1,0
9587,서울 용산구 후암로34가길 4,또아,한식,37.550774,126.977334,"['백반', '인상', '적', '입니다', '제육', '볶음', '짱', '맛있다...",1,0,1,1,0
9588,서울 용산구 한강대로104길 60,장삼봉마라탕엔마라샹궈,아시아음식,37.550161,126.975497,"['마라', '탕', '물질', '한번', '맛있다', '또', '방문', '밥',...",1,0,1,1,0
9589,서울 용산구 후암로16나길 26 혜당빌라,치키치킨24시,한식,37.549441,126.978923,"['양도', '많고', '맛있다', '사장', '친절해서', '좋았습니다', '사실...",1,0,1,1,0
9590,서울 용산구 두텁바위로 160,알찬밥집 용산도서관점,한식,37.552022,126.980067,"['있었는데', '오늘', '계약', '만료', '네', '다른', '번창', '있...",1,0,0,0,0

In [3]:
import re

# Function to clean the text
def clean_text(text):
    # Remove special characters
    text = re.sub(r'\W', ' ', text)
    # Remove numbers
    text = re.sub(r'\d', ' ', text)
    # Remove single characters
    text = re.sub(r'\s+[a-zA-Z]\s+', ' ', text)
    # Substitute multiple spaces with a single space
    text = re.sub(r'\s+', ' ', text, flags=re.I)
    # Convert to lowercase
    text = text.lower()

    return text

# Apply the function to the 'review' column
df['review'] = df['review'].apply(clean_text)

df.head()

,소재지전체주소,사업장명,업태구분명,latitude,longitude,review,target,데이트,맛,서비스,청결
0,서울 강남구 개포로28길 4,밀란국수 개포본점,한식,37.478594,127.049061,개포동 현 지인 가득한 집 여름철 콩국수 비빔국수 먹기 좋습니다 콩국수 걸 죽 콩...,1,0,1,1,0
1,서울 강남구 논현로18길 15 1층 101호,심야오뎅 개포점,일식,37.477993,127.046224,맛있다 오뎅 간단하게 먹기 좋은 맛있다 좋아요 좋아 술 잔 얘기 좋은 굿 오뎅 집...,1,0,1,1,0
2,서울 강남구 논현로10길 13,원조닭한마리,한식,37.474479,127.049601,리뷰 만 참고 꼬릿 게 정말 닭 마리 수 있는 업 장 기존 닭 마리 업 장 살짝 ...,0,0,1,1,0
3,서울 강남구 선릉로16길 6 1층,리애,일식,37.483824,127.060107,와사비 소금 트러플 오 일 돈가스 소스 어디 맛있다 특색 있게 소스 맛있다 그 이...,1,0,1,1,0
4,서울 강남구 개포로24길 29 하임빌딩 1층,라피노,양식,37.477328,127.049619,시금치 파스타 맛있다 다른 음식 좋았고요 실내 분위기 앤 왠만하면 리뷰 안 오늘 ...,0,1,1,1,0

In [8]:
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
import pandas as pd

# Set maximum vocabulary size and maximum sentence length
MAX_VOCAB_SIZE = 5000
MAX_SENTENCE_LENGTH = 600

# Load the test data
# test_data = pd.read_csv('test_data.csv')  # Replace with your test data file

# Tokenize the text
tokenizer = Tokenizer(num_words=MAX_VOCAB_SIZE)
tokenizer.fit_on_texts(df['review'])

# Convert text to sequences
test_sequences = tokenizer.texts_to_sequences(df['review'])

# Pad sequences
X_test = pad_sequences(test_sequences, maxlen=MAX_SENTENCE_LENGTH)

# Define the target
y_test = df[['데이트', '맛', '서비스', '청결']].values

In [9]:
from keras.models import load_model

# Load the model
model = load_model('keras_model.keras')

# Perform prediction
predictions = model.predict(X_test)
print(predictions)

300/300 [==============================] - 38s 127ms/step
[[4.8669162e-03 9.9933988e-01 9.9876124e-01 6.0247551e-03]
 [8.5412501e-04 9.9985301e-01 9.9962962e-01 2.6214034e-03]
 [9.2796838e-01 9.9642998e-01 9.9509060e-01 9.9550122e-01]
 ...
 [9.5859540e-01 9.9925882e-01 9.9943978e-01 1.0159041e-02]
 [4.7262311e-03 9.9882436e-01 9.9832499e-01 9.9610156e-01]
 [1.2573909e-02 5.4095995e-01 5.4118508e-01 2.3486990e-01]]

In [11]:
# Convert probabilities to binary predictions
binary_predictions = (predictions > 0.5).astype(int)
print(binary_predictions)

[[0 1 1 0]
 [0 1 1 0]
 [1 1 1 1]
 ...
 [1 1 1 0]
 [0 1 1 1]
 [0 1 1 0]]

In [12]:
df

,소재지전체주소,사업장명,업태구분명,latitude,longitude,review,target,데이트,맛,서비스,청결
0,서울 강남구 개포로28길 4,밀란국수 개포본점,한식,37.478594,127.049061,개포동 현 지인 가득한 집 여름철 콩국수 비빔국수 먹기 좋습니다 콩국수 걸 죽 콩...,1,0,1,1,0
1,서울 강남구 논현로18길 15 1층 101호,심야오뎅 개포점,일식,37.477993,127.046224,맛있다 오뎅 간단하게 먹기 좋은 맛있다 좋아요 좋아 술 잔 얘기 좋은 굿 오뎅 집...,1,0,1,1,0
2,서울 강남구 논현로10길 13,원조닭한마리,한식,37.474479,127.049601,리뷰 만 참고 꼬릿 게 정말 닭 마리 수 있는 업 장 기존 닭 마리 업 장 살짝 ...,0,0,1,1,0
3,서울 강남구 선릉로16길 6 1층,리애,일식,37.483824,127.060107,와사비 소금 트러플 오 일 돈가스 소스 어디 맛있다 특색 있게 소스 맛있다 그 이...,1,0,1,1,0
4,서울 강남구 개포로24길 29 하임빌딩 1층,라피노,양식,37.477328,127.049619,시금치 파스타 맛있다 다른 음식 좋았고요 실내 분위기 앤 왠만하면 리뷰 안 오늘 ...,0,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...
9586,서울 용산구 후암로35길 37,후암맥주,기타,37.549777,126.976117,후 암 종점 상호 잘못 후암동 종점 버스정류장 근처 있는 야키토리 맛있다 가게 작...,1,0,1,1,0
9587,서울 용산구 후암로34가길 4,또아,한식,37.550774,126.977334,백반 인상 적 입니다 제육 볶음 짱 맛있다 집밥 느낌 최고 좋아요 좋아요 좋아요 ...,1,0,1,1,0
9588,서울 용산구 한강대로104길 60,장삼봉마라탕엔마라샹궈,아시아음식,37.550161,126.975497,마라 탕 물질 한번 맛있다 또 방문 밥 무료 좋아요 근처 마라 탕집 여기 뿐 점심...,1,0,1,1,0
9589,서울 용산구 후암로16나길 26 혜당빌라,치키치킨24시,한식,37.549441,126.978923,양도 많고 맛있다 사장 친절해서 좋았습니다 사실 식당 앞 유료 주차장 주차 화장실...,1,0,1,1,0
9590,서울 용산구 두텁바위로 160,알찬밥집 용산도서관점,한식,37.552022,126.980067,있었는데 오늘 계약 만료 네 다른 번창 있어요 있어요 있어 오늘 오늘,1,0,0,0,0

In [13]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

# Calculate metrics
accuracy = accuracy_score(y_test, binary_predictions)
precision = precision_score(y_test, binary_predictions, average='micro')
recall = recall_score(y_test, binary_predictions, average='micro')
f1 = f1_score(y_test, binary_predictions, average='micro')

print(f'Accuracy: {accuracy}')
print(f'Precision: {precision}')
print(f'Recall: {recall}')
print(f'F1 Score: {f1}')

Accuracy: 0.3187363152955896
Precision: 0.7521971005783821
Recall: 0.8988421147114263
F1 Score: 0.8190071154003434

In [15]:
import pandas as pd

# Convert y_test to a DataFrame
y_test_df = pd.DataFrame(y_test, columns=['데이트', '맛', '서비스', '청결'])

# Convert binary predictions to a DataFrame
binary_predictions_df = pd.DataFrame(binary_predictions, columns=['데이트_예측', '맛_예측', '서비스_예측', '청결_예측'])

# Concatenate y_test_df and binary_predictions_df
result_df = pd.concat([y_test_df, binary_predictions_df], axis=1)

result_df

      데이트  맛  서비스  청결  데이트_예측  맛_예측  서비스_예측  청결_예측
0       0  1    1   0       0     1       1      0
1       0  1    1   0       0     1       1      0
2       0  1    1   0       1     1       1      1
3       0  1    1   0       1     1       1      0
4       1  1    1   0       0     1       1      0
...   ... ..  ...  ..     ...   ...     ...    ...
9586    0  1    1   0       1     1       1      1
9587    0  1    1   0       0     1       1      0
9588    0  1    1   0       1     1       1      0
9589    0  1    1   0       0     1       1      1
9590    0  0    0   0       0     1       1      0

[9591 rows x 8 columns]

In [5]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding_1 (Embedding)     (None, 600, 128)          640000

 lstm_1 (LSTM)               (None, 128)               131584

 dense_1 (Dense)             (None, 4)                 516

=================================================================
Total params: 772100 (2.95 MB)
Trainable params: 772100 (2.95 MB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________